<template>
<svg width="26" height="11" viewBox="0 0 26 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.0820312 0L12.6476 11L25.2132 0H0.0820312Z" fill="#FDB92F"/>
</svg>  
</template>