<template>
  <div class="page--home">
    <SectionNavigation v-if="!isMobile" @change="changeSection" :currentIndex="1" />
    <full-page :options="options" ref="fullPage">
      <div data-name="home" class="section">
        <Promo />
      </div>
      <!-- <div data-name="discount" class="section">
        <Discount />
      </div> -->
      <div data-name="price" class="section">
        <Services />
      </div>
      <div data-name="tech" class="section">
        <Equipment />
      </div>
      <!-- <div data-name="feed" class="section">
        <Feed />
      </div> -->
      <!-- <div data-name="blog" class="section">
        <Articles />
      </div> -->
      <div data-name="contacts" class="section">
        <Contacts  />
      </div>
    </full-page>
  </div>
</template>

<script>
import { mapState,mapGetters } from "vuex";

import SectionNavigation from "@/components/SectionNavigation.vue";
import Promo from "@/components/home-blocks/Promo.vue";
// import Discount from "../components/home-blocks/Discount.vue";
import Services from "../components/home-blocks/Services.vue";
import Equipment from "../components/home-blocks/Equipment.vue";
// import Feed from "../components/home-blocks/Feed.vue";
import Articles from '../components/home-blocks/Articles.vue';
import Contacts from '../components/home-blocks/Contacts.vue';

import "vue-slick-carousel/dist/vue-slick-carousel.css";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import 'vue-phone-number-input/dist/vue-phone-number-input.css';

export default {
  name: "Home",
  components: {
    SectionNavigation,
    Promo,
    // Discount,
    Services,
    Equipment,
    // Feed,
    Articles,
    Contacts
  },
  watch: {
    $route(to, from) {
      const section = to.query.section || this.anchors[0];
      this.moveSections(section);
    },
  },
  methods: {
    changeSection(index) {
      this.$refs.fullPage.api.moveTo(index + 1);
      this.queryParams = this.$route.query;
      if (!this.queryParams.part) this.queryParams.part = "face";
      if (!this.queryParams.tab) this.queryParams.tab = "lazer";
      if (!this.queryParams.sex) this.queryParams.sex = "woman";
      if (!this.queryParams.zone) this.queryParams.zone = "zone";
      if (!this.queryParams.cosmetology) this.queryParams.cosmetology = "carbonPilling";
      if (!this.queryParams.feed) this.queryParams.feed = "feed";
      this.$router.push({ query: { ...this.queryParams } });
    },
    moveSections(section) {
      this.$refs.fullPage.api.moveTo(this.anchors.indexOf(section) + 1);
    },
  },
  mounted() {
    this.moveSections(this.activeSection);
  },
  computed: {
    ...mapState("router", { activeView: "active" }),
    ...mapGetters({isMobile: 'document/isMobile'}),
    activeSection() {
      const splitted = this.activeView.split(":");
      return splitted[1] ? splitted[1] : null;
    },
  },
  data: function () {
    return {
      anchors: [
        "home",
        // "discount",
        "price",
        "tech",
        "feed",
        // "blog",
        "contacts",
      ],
      options: {
        // continuousVertical: true,
        parallax: true,
	      parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},
        navigation: false,
        onLeave: (from, destination) => {

          const sectionName = destination.item.getAttribute("data-name");

          if (sectionName !== this.activeSection) {

            this.$router.push({
              query: { ...this.$route.query, section: sectionName },
            });

          }

        },
      },
    };
  },
};
</script>

<style lang="sass">
@import '@/assets/style/global.sass'

.sub-section.is-mobile
  & .title
    font-style: normal
    font-weight: 400
    font-size: 24px
    padding-bottom: 0
    margin-top: 8px
.default-input
  height: 40px
  border: none
  outline: none
  border-radius: 3px

.title
  color: $color-text
  display: flex
  margin-top: 15px
  margin-left: 15px
  font-size: 36px
  padding-bottom: 15px
.section
  & .sub-section
    & .title
      font-family: Marck Script
</style>