<template>
  <div class="body-parts">
    <img :src="bgPath()" alt="">
    <img 
      :class="{'body-parts__item':true, active: current === img.name}" 
      v-for="img in map" 
      :key="img.name" 
      :style="{left: img.x+'%', top: img.y+'%'}" 
      :src="getImg(img.name)" 
      @click="onPartClick(img.name)"
      alt="">
  </div>
</template>

<script>
export default {
  name: 'BodyParts',
  data() {
    return {
      current: ""
    }
  },
  props: {
    map: Array,
    initial: String,
    corePath: String
  },
  created() {
    this.current = this.initial
  },
  methods: {
    onPartClick(partName) {
      this.current = partName;
      this.$emit('click',partName)
    },
    bgPath() {
      return require(`@/assets/${this.corePath}/bg.png`)
    },
    getImg(img) {
      return require(`@/assets/${this.corePath}/${img}.svg`)
    },
    onClick(e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.body-parts
  position: relative
  width: 100%
  &__item
    filter: brightness(0.6)
    transition: all 0.5s
    &:hover:not(.active)
      filter: brightness(1)
    &.active
      filter: brightness(1)
    position: absolute
    cursor: pointer

</style>
