<template>
  <button @click="onClick" :class="{ button: true, ['button--'+modifier]: modifier, ['is-mobile']: isMobile }">
    {{ text }}
  </button>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Button',
  props: {
    text: String,
    modifier: String
  },
  methods: {
    onClick(e) {
      this.$emit('click', e)
    }
  },
  computed: {
    ...mapGetters({isMobile: 'document/isMobile'})
  }
}

</script>

<style scoped lang="sass">

@import '@/assets/style/global.sass'

.button
  font-family: Montserrat Alternates
  display: block
  border: none
  text-align: center
  font-size: 15px
  line-height: 10px
  height: 30px
  color: $color-text
  background-color: $color-high
  box-shadow: 0px 7px 35px rgba(253, 185, 47, 0.35)
  &.is-mobile
    font-size: 15px
    font-weight: 800
    padding: 5px 16px
    margin: 0 auto
  &--unshort
    height: 40px
  &--small
    padding: 5px 20px
  &--normal
    padding: 5px 38px
    height: 50px
    font-weight: 800
    font-size: 15px
  &:hover
    cursor: pointer
    background-color: $color-low
    box-shadow: 0px 10px 45px rgba(253, 185, 47, 0.55)

</style>
