<template>
  <div class="check">
    <div  class="check__img">
      <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 7L8 14L21 1" stroke="#444443" stroke-width="2"/>
      </svg>
    </div>
    <div class="check__title">{{text}}</div>
  </div>
</template>

<script>
export default {
  name: 'Check',
  props: {
    text: String
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.check
  display: flex
  transition: all 0.3s
  align-items: center
  &:hover
    background-color: $color-mid
  &__title
    font-size: 13px
    margin: 0 28px
    width: 130px
  &__img
    display: flex
    justify-content: center
    align-items: center
    min-width: 44px 
    min-height: 44px
    @include screen-min
      min-width: 24px 
      min-height: 24px
    background-color: $color-low
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)

</style>
