<template>
<div class="cosmetology">
  <div class="cosmetology__left">
    <PhotoFrame :type="'cosmetology'">
      <div>
        <BodyParts
          :initial="queryParams.cosmoPart || 'face'"
          @click="onPartClick"
          :map="[
            { name: 'face', x: 49, y: 8 },
            { name: 'arm', x: 23, y: 85 },
            { name: 'breast', x: 40.5, y: 34 },
            { name: 'hip', x: 60, y: 56.5 },
            { name: 'neck', x: 55, y: 22.5 }
          ]"
          :corePath="'body-parts/carbon'"
        />
      </div>
    </PhotoFrame>
  </div>
  <div class="cosmetology__right">
    <div class="cosmetology__top">
      <div  class="cosmetology__table">
        <MiniTable :part="queryParams.cosmoPart" />
        <Button
          class="promo__button services-more__button"
          modifier="small"
          :text="locale.helpers.signcall"
          @click="signCall"
        />
      </div>
      <div class="packages">
        <div
          v-for="(item,key,index) in locale.carbonPackages"
          :key="key"
          :class="{'packages__item':true, ['bg-'+index]:true}"
        >
          <div class="packages__item-header">{{item.name}}</div>
          <div :key="list" v-for="(list) in item.normal" class="packages__item-list">{{list}}</div>
          <div :key="list" v-for="(list) in item.bold" class="packages__item-bold-list">{{list}}</div>
          <div class="packages__item-price">{{getPackages(key).price}} {{locale.helpers.UAH}}</div>
          <div class="packages__item-old-price">{{getPackages(key).oldPrice}} {{locale.helpers.UAH}}</div>
        </div>
      </div>
    </div>
    <div class="cosmetology__bottom">
      <ul>
        <li :key="item" v-for="item in locale.carbonList">
          {{item}}
        </li>
      </ul>
      <div class="checks">
        <div>
          <Check :text="locale.helpers.superFast" />
          <Check :text="locale.helpers.supernopain" />
        </div>
        <div>
          <Check :text="locale.helpers.noreabilitation" />
          <Check :text="locale.helpers.courseterm" />
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";

import PhotoFrame from "@/components/PhotoFrame.vue";
import Check from "@/components/Check.vue";
import Button from "@/components/Button.vue";
import Options from "@/components/Options.vue";
import BodyParts from "@/components/BodyParts.vue";
import MiniTable from '@/components/MiniTable.vue';

export default {
  name: 'Cosmetology',
  data() {
    return {
      queryParams: {}
    }
  },
  watch: {
    $route(to, from) {
      this.queryParams = to.query;
    },
  },
  methods: {
    getPackages(key) {
      return this.prices.carbonPackages.find(item=>item.key === key)
    },
    signCall() {

    },
    onPartClick(part) {
      this.$router.push({ query: { ...this.$route.query, cosmoPart: part } });
    }
  },
  created() {
    this.queryParams = this.$route.query;
    if (!this.queryParams.cosmoPart) this.queryParams.cosmoPart = "face";
  },
  components: {
    PhotoFrame,
    Check,
    Button,
    Options,
    BodyParts,
    MiniTable
  },
  computed: {
    ...mapGetters({ prices: "prices/getPrices", locale: "locales/getLocale"})
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'
.checks
  display: flex
  &>div
    margin: 0 30px
    &>div
      margin-bottom: 30px

.packages
  display: flex
  color: $color-text
  @include screen-min
    display: none
  &__item-price
    margin-top: auto
    font-weight: bold
    font-size: 20px
  &__item-old-price
    text-decoration: line-through
    font-size: 20px
    margin-top: 14px
  &__item-header
    font-size: 15px
    font-weight: bold
  &__item-list
    margin: 6px 0
    font-size: 13px
  &__item
    padding: 15px 0
    display: flex
    flex-direction: column
    align-items: center
    margin: 10px
    width: 168px
    height: 220px
    transition: all 0.3s
    filter: brightness(0.95)
    &:hover
      filter: brightness(1)
      border: 1px solid $color-high
      transform: scale(1.05)
      cursor: pointer
      box-shadow: 8px 8px 35px rgba(0, 0, 0, 0.08)
    &.bg-0
      background: linear-gradient(133.69deg, rgba(255, 236, 169, 0.2) 0%, rgba(255, 236, 169, 0.7) 100%)
    &.bg-1
      background: linear-gradient(133.69deg, rgba(255, 226, 169, 0.2) 0%, rgba(255, 226, 169, 0.7) 100%)
    &.bg-2
      background: linear-gradient(133.69deg, rgba(255, 215, 169, 0.2) 0%, rgba(255, 215, 169, 0.7) 100%)
    &.bg-3
      background: linear-gradient(133.69deg, rgba(255, 200, 169, 0.2) 0%, rgba(255, 200, 169, 0.7) 100%)
      
.cosmetology 
  display: flex
  @include screen-min
    flex-direction: column
  &__table
    @include screen-min
      margin: 0 auto
      margin-top: -85px
    margin-right: 10px
    width: 150px
    & button
      display: block
      margin-top: 10px
  &__top
    display: flex
    align-items: center
    margin-bottom: 15px
    @include screen-min
  &__bottom
    @include screen-min
      display: none
  &__bottom ul
    margin-bottom: 20px
  &__right
    margin-left: 30px

</style>
