<template>
  <div class="header">
    <div class="header__wrap" :class="{ ['is-mobile']: isMobile }">
      <img class="header__logo"  v-if="isMobile" src="@/assets/logo.png" alt=""/>
      <Slide :closeOnNavigation="true" v-if="isMobile" right ScaleDown>
        <NavBar :isMobile="isMobile" />
      </Slide>
      <!-- <div class="montserrat" v-if="!isMobile">{{locale.sites[1].text}}</div> -->
      <Select :value="currentSite" @change="changeSite" :options="locale.sites"/>
      <NavBar v-if="!isMobile" />
      <Button modifier="small" :text="locale.navigation.askCall" @click="askCall"/>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex'
import { Slide } from 'vue-burger-menu'
import Button from '@/components/Button.vue'
import Select from '@/components/Select.vue'
import NavBar from '@/components/NavBar.vue'

export default {
  components: {
    Slide,
    Button,
    Select,
    NavBar
  },
  name: 'Header',
  computed: {
    ...mapState('sites', {currentSite: 'currentSite'}),
    ...mapGetters({locale: 'locales/getLocale'}),
    ...mapGetters({isMobile: 'document/isMobile'})
  },
  methods: {
    ...mapMutations({setSite: 'sites/setSite'}),
    onNavChange(key) {
      
    },
    changeSite(value) {
      this.setSite(value);
    },
    askCall() {
      
    }
  }
}
</script>

<style lang="sass">

@import '@/assets/style/global.sass'

.bm-burger-button
  right: 13px !important
  top: 27px !important
.bm-menu
  z-index: 9000
.header
  top: 0
  position: fixed
  height: 84px
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  background-color: $color-low
  z-index: 1000
  &__logo
    position: absolute
    width: 76px
    left: 8px
    top: 9px
  &__wrap
    max-width: 1024px
    margin: 0 auto
    z-index: 1
    display: flex
    flex-direction: row
    align-items: baseline
    &.is-mobile
      flex-direction: column
      align-items: center
      flex-direction: column-reverse
      align-items: center
      & .button
        width: 150px
        font-size: 13px
        padding: 0
        margin-bottom: 4px
     
</style>
