<template>
  <div class="lang-select">
    <div :class="{'lang-select__item': true, 'active': current === 'ua'}" @click="selectLocal('UA')">
      UA <img src="@/assets/locales/ua.svg" alt="">
    </div>
    <div :class="{'lang-select__item': true, 'active': current === 'ru'}" @click="selectLocal('RU')">
      RU <img src="@/assets/locales/ru.svg" alt="">
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'LangSelector',
  computed: {
    ...mapGetters({current: 'locales/getCurrentLang'})
  },
  data() {
    return {
      map: {
        UA: 'ua',
        RU: 'ru'
      }
    }
  },
  methods: {
    selectLocal(locale) {
      this.$emit('change',this.map[locale])
    }
  },
  created() {
    console.log(this.current)
  },
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'
.lang-select
  display: flex
  flex-direction: row
  &__item
    padding: 2px 3px
    display: flex
    align-items: center
    margin-right: 15px
    & img
      margin-left: 5px
  &__item:not(.active)
    cursor: pointer
  &__item.active
    outline: 1px solid $color-high
    
</style>
