<template>
  <div class="mini-table">
    <table>
      <tr>
        <td>{{ locale.helpers.zone }}:</td>
        <td>{{ getPartPrices.zone }}</td>
      </tr>
      <tr>
        <td>{{ locale.helpers.price }}:</td>
        <td>{{ getPartPrices.price }} {{ locale.helpers.UAH }}</td>
      </tr>
      <tr>
        <td>{{ locale.helpers.time }}:</td>
        <td>{{ getPartPrices.time }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: 'MiniTable',
  computed: {
    getPartPrices() {
      return {
        ...this.prices.carbonPrices[this.part],
        zone: this.locale.carbonNames[this.part]
      }
    },
    ...mapGetters({ locale: "locales/getLocale", prices: 'prices/getPrices'}),
  },
  props: {
    part: String
  },
  created() {},
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'
.mini-table 
  & table tr td:first-child
    font-weight: bold
    width: 60px
  & table
    text-align: left
</style>
