<template>
  <ul class="nav-bar" :class="{['is-mobile']: isMobile}">
    <li v-for="item in navBarOptions"  :key="item.value" :class="{active: active === item.value}">
        <div @click="createRoute(item.value)">{{ item.text }}</div>
    </li>
  </ul>
</template>

<script>
import {mapGetters, mapMutations, mapState} from "vuex";

export default {
  name: 'NavBar',
  props: {
    isMobile: {
      type: Boolean
    }
  },
  methods: {
      createRoute(value) {
          this.queryParams = this.$route.query;
        if (!this.queryParams.part) this.queryParams.part = "face";
        if (!this.queryParams.tab) this.queryParams.tab = "lazer";
        if (!this.queryParams.sex) this.queryParams.sex = "woman";
        if (!this.queryParams.zone) this.queryParams.zone = "zone";
        if (!this.queryParams.cosmetology) this.queryParams.cosmetology = "carbonPilling";
        if (!this.queryParams.feed) this.queryParams.feed = "feed";
          const splitted = value.split(":")
          const query = splitted[1] ? {section: splitted[1]} : {}
           this.$router.push({ query: { ...this.$route.query, ...query } });
      }
  },    
  computed: {
    ...mapGetters({locale: 'locales/getLocale'}),
    ...mapState('router', ["active","navbar"]),
    navBarOptions() {
      return this.navbar.map(item=>({value: item, text: this.locale.navigation[item]}))
    }
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.nav-bar
    margin-left: 86px
    margin-right: 30px 
    list-style: none
    display: flex
    font-size: 13px
    font-family: Montserrat Alternates
    &.is-mobile 
      flex-direction: column
    & a
      text-decoration: none
      color: $color-text
      display: block
      cursor: inherit
    & li 
      display: block
      &:hover, &.active
          border-bottom: 1px solid #FDB92F
      &:hover:not(.active)
          cursor: pointer
        
    & li:not(:last-child)
      margin-right: 26px  

</style>
