<template>
  <div class="options">
    <div class="options__line"></div>
    <div class="options__fake-line"></div>
    <div class="options__box" :style="{'left': boxCalc}"></div>
    <div class="options__texts">
      <div @click="onClick(key)"
        :class="{active: current === key}"
       :key="key" v-for="(item,key) in options">
       <div>
        {{item}}
       </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Button',
  props: {
    options: Object,
    current: String
  },
  computed: {
    boxCalc() {
      let currIndex = Object.keys(this.options).indexOf(this.current) + 1
      return 120 * currIndex - 45 + "px";
    }
  },
  created() {
    this.l = Object.keys(this.options).length
  },
  methods: {
    onClick(k) {
      this.$emit('change', k)
    }
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.options
  position: relative
  width: fit-content
  padding-bottom: 30px
  font-family: Montserrat Alternates
  @include screen-min
    padding-bottom: 10px
    transform: translateX(-50px)
    &__texts
      &>div
      font-weight: 400
      font-size: 13px
      padding: 0 8px
  &__line
    pointer-events: none
    position: absolute
    height: 1px
    top: 52px
    width: calc(100% - 80px)
    left: 40px
    background-color: $color-mid
  &__box
    transition: left 0.3s 
    pointer-events: none
    position: absolute
    top: 47px
    width: 12px
    height: 12px
    background-color: $color-high
  &__texts
    line-height: 12px
    display: flex
    align-items: center
    padding: 0 16px
    &>div
      cursor: pointer
      height: 55px
      font-size: 13px
      width: 120px
      padding: 0 5px
      text-align: center
      &:hover > div
        border: 1px dotted $color-high

        
  
</style>
