<template>
<div>
  <div class="packages">
    <div
      v-if="!isMobile"
      v-for="(item,key,index) in locale.packages"
      :key="key"
      :class="{'packages__item':true, ['bg-'+index]:true}"
    >
      <div class="packages__item-header">{{item.name}}</div>
      <div :key="list" v-for="(list) in item.normal" class="packages__item-list">{{list}}</div>
      <div :key="list" v-for="(list) in item.bold" class="packages__item-bold-list">{{list}}</div>
      <div class="packages__item-price">{{getPrices(key).price}} {{locale.helpers.UAH}}</div>
      <div class="packages__item-old-price">{{getPrices(key).oldPrice}} {{locale.helpers.UAH}}</div>
    </div>
    <VueSlickCarousel v-if="isMobile" v-bind="{slidesToShow: 1}" :arrows="true" :dots="true">
      <div
        v-for="(item,key,index) in locale.packages"
        :key="key"
        :class="{'packages__item':true, ['bg-'+index]:true}"
      >
        <div class="packages__item-header">{{item.name}}</div>
        <div :key="list" v-for="(list) in item.normal" class="packages__item-list">{{list}}</div>
        <div :key="list" v-for="(list) in item.bold" class="packages__item-bold-list">{{list}}</div>
        <div class="packages__item-price">{{getPrices(key).price}} {{locale.helpers.UAH}}</div>
        <div class="packages__item-old-price">{{getPrices(key).oldPrice}} {{locale.helpers.UAH}}</div>
      </div>
    </VueSlickCarousel>
  </div>
  <Button 
    class="packages__button"
    modifier="normal" 
    :text="locale.helpers.signcall" 
    @click="signCall" 
  />
</div>
</template>

<script>
import { mapGetters } from "vuex";
import Button from "@/components/Button.vue";
import VueSlickCarousel from "vue-slick-carousel";


export default {
  name: 'Packages',
  components: {
    Button,
    VueSlickCarousel
  },
  created() {
    
  },
  methods: {
    signCall() {

    },
    getPrices(packages) {
      return this.prices.packages.find((i)=>i.key===packages)
    }
  },
  computed: {
    ...mapGetters({ prices: "prices/getPrices", locale: "locales/getLocale",isMobile: 'document/isMobile'}),
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.packages
  display: flex
  color: $color-text
  @include screen-min
    display: block
  &__button
    margin: 15px auto
    @include screen-min
      margin-top: 30px !important
  &__item-price
    margin-top: auto
    font-weight: bold
    font-size: 20px
    @include screen-min
      margin-top: 6pxaxetracer
  &__item-old-price
    text-decoration: line-through
    font-size: 20px
    margin-top: 14px
  &__item-header
    font-size: 15px
    font-weight: bold
    border-bottom: 1px solid $color-text
    padding-bottom: 8px
    margin-bottom: 12px
    @include screen-min
      padding-bottom: 2px
      margin-bottom: 4px
  &__item-list
    margin: 6px 0
    font-size: 13px
    @include screen-min
      margin: 2px 0
  &__item-bold-list
    font-size: 13px
    margin: 6px 0
    font-weight: bold
  &__item
    padding: 30px 0
    display: flex !important
    flex-direction: column
    align-items: center
    margin: 10px
    width: 228px
    height: 372px
    transition: all 0.3s
    filter: brightness(0.95)
    @include screen-min
      width: 208px
      height: 250px
      padding: 8px 0
    &:hover
      @include screen-max
        filter: brightness(1)
        border: 1px solid $color-high
        transform: scale(1.1)
        cursor: pointer
        box-shadow: 8px 8px 35px rgba(0, 0, 0, 0.08)

    &.bg-0
      background: linear-gradient(133.69deg, rgba(255, 236, 169, 0.2) 0%, rgba(255, 236, 169, 0.7) 100%)
    &.bg-1
      background: linear-gradient(133.69deg, rgba(255, 226, 169, 0.2) 0%, rgba(255, 226, 169, 0.7) 100%)
    &.bg-2
      background: linear-gradient(133.69deg, rgba(255, 215, 169, 0.2) 0%, rgba(255, 215, 169, 0.7) 100%)
    &.bg-3
      background: linear-gradient(133.69deg, rgba(255, 200, 169, 0.2) 0%, rgba(255, 200, 169, 0.7) 100%)
      

</style>
