<template>
  <div :class="{ 'photo-frame': true, ['photo-frame_'+type]: true, pointer: more }">
    <div class="photo-frame__wrap">
      <div class="photo-frame__item">
        <slot></slot>
        <div v-if="more" class="photo-frame__show-more">
          {{ more }}
          <div class="arrow_box">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {},
  name: 'PhotoFrame',
  props: {
    type: String,
    more: String
  },
  computed: {},
  methods: {}
}

</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.photo-frame
  &.pointer
    cursor: pointer
  &.photo-frame_blog .photo-frame
    &__wrap
      width: 300px
      height: 462px
    &__item
      width: 270px
      height: 432px
  &__show-more
    display: flex
    align-items: center
    padding-left: 10px
    position: absolute
    bottom: 0
    width: 100%
    height: 64px
  &__wrap
    @include screen-min
      transform: scale(0.8) translateX(-47px) translateY(-47px)
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)
    width: 370px
    height: 475px
    background-color: white
  &__item
    position: relative
    background-color: $color-low
    top: 15px
    left: 15px
    width: 340px
    height: 445px
    &:hover .photo-frame__show-more
      background-color: $color-mid

.arrow_box
  position: absolute
  background: black
  right: 20px
  top: 32px

.arrow_box:after 
  left: 100%
  top: 50%
  border: solid transparent
  content: ""
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-color: rgba(136, 183, 213, 0)
  border-left-color: black
  border-width: 10px
  margin-top: -10px
    
</style>
