<template>
    <div class="section-navigation">
    <div class="section-navigation__line">
        <div :class="{
            'section-navigation__triangle': true,
            'disabled': active === 'home:contacts'
        }" >
            <iconTriangle />
        </div>
    </div>
    
        <div class="section-navigation__buttons">
                <div @click="change(index)" v-for="(item,index) in content" :key="index" :class='{
                        "section-navigation__button": true,
                        "active": item === active}'
                        >
                        {{index+1}}
                    <div class="section-navigation__discription">
                        {{locale.navigation[item]}}
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
import {mapGetters,mapState} from "vuex"
import iconTriangle from '@/assets/icons/icon-triangle'

export default {
    components: {
        iconTriangle
    },
  name: 'SectionNavigations',
  filters: {
      translate(key) {
          return this.locale.navigation[key]
      }
  },
  props: {
      currentIndex: Number
  },
  computed: {
    ...mapState('router', ["active"]),
    ...mapGetters({locale: 'locales/getLocale'}),
  },
  methods: {
      change(index) {
          this.$emit('change',index)
      }
  },
  data() {
      return {
          content: [
            "home:home",
            // "home:discount",
            "home:price",
            "home:tech",
            "home:feed",
            // "home:blog",
            "home:contacts",
          ]
      }
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.section-navigation 
    color: $color-text
    display: flex
    flex-direction: row
    position: fixed
    right: 100px
    top: 84px
    z-index: 999
    &__discription
        font-family: Montserrat Alternates
        border-left: 1px solid $color-low
        border-top: 1px solid $color-low
        border-bottom: 1px solid $color-low
        display: none
        position: absolute
        width: 200px
        right: 22px
        top: -1px
        text-align: center
        line-height: 44px
        white-space: nowrap
    &__triangle
        position: relative
        left: -13px
        top: calc( 100% - 185px )
        &.disabled 
            display: none
    &__line
        position: relative
        right: 76px
        width: 1px
        height: 100vh
        background-color: $color-high
        top: -84px
    &__buttons
        margin-top: calc( 50vh - 185px - 84px )
    &__button
        position: relative
        width: 44px
        height: 44px
        line-height: 44px
        text-align: center
        &:not(:last-child) 
            margin-bottom: 20px
        &.active, &:hover
            background-color: $color-high
            & .section-navigation__discription 
                display: block
            &:hover:not(.active)
                cursor: pointer

</style>
