<template>
  <div class="select__wrap" :class="{ ['is-mobile']: isMobile }">
    <select @change="onChange" class="select">
      <option :selected="value === option.key" v-for="option in options" :key="option.key" :value="option.key">{{option.text}}</option>
    </select>
    <div class="select__triangle">
      <iconTriangle />
    </div>
  </div>
</template>

<script>

import iconTriangle from '@/assets/icons/icon-triangle'
import { mapGetters } from 'vuex'

export default {
  name: 'Button',
  props: {
    options: Array,
    value: String
  },
  computed: {
    ...mapGetters({isMobile: 'document/isMobile'})
  },
  methods: {
    onChange(e) {
      this.$emit('change', e.target.value)
    }
  },
  components: {
    iconTriangle
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.select
    padding-left: 7px
    background-position: right 30px center !important
    -webkit-appearance: none
    appearance: none
    font-family: Montserrat Alternates
    border: 1px solid #444443
    display: block
    border: none
    width: 170px
    height: 30px
    text-align: center
    color: $color-text
    background-color: transparent
    &::-ms-expand 
      display: none
    &__wrap
      overflow: hidden
      position: relative
      border: 1px solid #444443
      &.is-mobile .select
        width: 150px
        padding-left: 10px
        text-align: left

    &:hover 
      cursor: pointer
      background-color: white
    &__triangle
      width: 25.13px
      height: 11px
      position: absolute
      right: 7px
      top: 7px
      pointer-events: none
</style>
