<template>
  <div class="sizes">
    <img left src="@/assets/icons/arrow.svg" alt="">
    <img right src="@/assets/icons/arrow.svg" alt="">
    <img top src="@/assets/icons/arrow.svg" alt="">
    <img down src="@/assets/icons/arrow.svg" alt="">
    <div class="sizes__x">{{prepared.x}}</div>
    <div class="sizes__box"></div>
    <div class="sizes__y">{{prepared.y}}</div>
  </div>
</template>

<script>
export default {
  name: 'Sizes',
  props: {
    sizes: String
  },
  computed: {
    prepared() {
      let [x,y] = this.sizes.split(",");
      return {
        x,
        y
      }
    }
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.sizes
  margin-top: 20px
  margin-left: 20px
  font-size: 13px
  position: relative
  width: 49px
  height: 49px
  & img[top]
    transform: rotate(270deg)
    left: -17px
    top: 3px
  & img[down]
    transform: rotate(90deg)
    left: -17px
    top: 37px
  & img[left]
    left: 32px
    top: -12px
  & img[right]
    transform: rotate(180deg)
    left: -2px
    top: -12px
  &__x
    left: 15px
    top: -16px
  &__y
    left: -17px
    top: 16px
  &__x, &__y
    width: 20px
    text-align: center
  &>div,&>img
    position: absolute
  &__box
    width: 49px
    height: 49px
    background: linear-gradient(133.69deg, rgba(255, 226, 169, 0.2) 0%, rgba(255, 226, 169, 0.7) 100%)
</style>
