<template>
  <div class="tabs" :class="{ ['is-mobile']: isMobile }">
    <div  @click="onClick(key)" 
      :key="key" 
      :class="{'tabs__item': true, active: item === namedState}" 
      v-for="(item,key) in tabs">
      {{item}}
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'Tabs',
  data() {
    return {
      currentState: 0
    }
  },
  computed: {
    namedState() {
      return Object.values(this.tabs)[this.currentState]
    },
    ...mapGetters({isMobile: 'document/isMobile'})
  },
  created() {
    this.currentState = Object.keys(this.tabs).indexOf( this.initial )
  },
  props: {
    tabs: Object,
    initial: String
  },
  methods: {
    onClick(key) {
      let keys = Object.keys(this.tabs)
      this.currentState = keys.indexOf(key);
      this.$emit('click', key)
    }
  }
}
</script>

<style scoped lang="sass">

@import '@/assets/style/global.sass'

.tabs
  display: flex
  &.is-mobile .tabs
    &__item
      margin: 4px 6px
      font-weight: 400
      font-size: 13px
      padding: 2px
  &__item
    font-family: Montserrat Alternates  
    color: $color-text
    padding: 5px
    margin: 16px 35px
    &:not(.active)
      cursor: pointer
      border: 1px solid transparent
    &.active
      cursor: not-allowed
      border: 1px solid $color-high


</style>
