<template>
<div>
  <div class="tatoo">
    <PhotoFrame>
      <iframe width="340" height="445" src="https://www.youtube.com/embed/gt85tWgqHDg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </PhotoFrame>
    <div>
      <table class="tatoo__table">
        <thead>
          <tr>
            <td></td>
            <td :key="tr" v-for="tr in prices.tr">{{locale.tatoo[tr]}}</td>
          </tr>
        </thead>
        <tbody>
          <tr :key="key" v-for="(item,key) in prices.newObj">
            <td>
              <Sizes :sizes="key"></Sizes>
            </td>
            <td :key="price.name" v-for="(price) in item">
              <div>{{locale.helpers.from}} <span class="tatoo__price">{{price.price}} {{locale.helpers.UAH}}</span></div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="checkers">
          <div>
            <Check :text="locale.tatoo.fullprocedur" />
            <Check :text="locale.tatoo.minimumpain" />
          </div>
          <div>
            <Check :text="locale.tatoo.firstresult" />
            <Check :text="locale.tatoo.withoutscars" />
          </div>
      </div>
      <Button class="promo__button" modifier="normal" :text="locale.helpers.signcall" @click="signCall" />
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";
import PhotoFrame from "@/components/PhotoFrame.vue";
import Check from "@/components/Check.vue";
import Sizes from "@/components/Sizes.vue";
import Button from "@/components/Button.vue";

export default {
  name: 'TatooDelete',
  methods: {
    signCall() {

    }
  },
  components: {
    PhotoFrame,
    Check,
    Sizes,
    Button
  },
  computed: {
    ...mapGetters({ prices: "prices/getTatooPrices", locale: "locales/getLocale"}),
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.checkers 
  margin-left: 30px
  // max-width: 460px
  display: flex
  &>div
    margin: 0 15px
    &>div
      margin-bottom: 15px

.tatoo
  margin-top: 30px
  display: flex
  @include screen-min
    flex-direction: column
    margin-top: 30px
  & .promo__button
    margin: 10px auto
  &__price
    font-weight: bold
    text-transform: lowercase
  &__table
    text-align: center
    margin-bottom: 30px
    margin-left: 30px
    @include screen-min
      margin: 0 auto
      text-align: left
      transform: translateY(-90px) translateX(-12px)
    & thead
      font-size: 13px
    & tbody
      font-size: 15px
      & tr:hover td
        background-color: $color-low
    td:not(:first-child)
      padding: 5px 10px

</style>
