<template>
  <div class="toogle" :class="{ ['is-mobile']: isMobile }" @click="onClick()">
    <div :class="{active: currentState === 0}">{{getName(this.left)}}</div>
    <div :class="{active: currentState === 0,'toogle__controll': true}">
      <div class="toogle__line"></div>
      <div class="toogle__box"></div>
    </div>
    <div :class="{active: currentState === 1}">{{getName(this.right)}}</div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'Toogle',
  data() {
    return {
      currentState: 0
    }
  },
  created() {
    if (this.initial === Object.keys(this.left)[0]) {
      this.currentState = 0
    } else {
      this.currentState = 1
    }
  },
  props: {
    left: Object,
    right: Object,
    initial: String,
  },
  computed: {
    ...mapGetters({isMobile: 'document/isMobile'})
  },
  methods: {
    getName(obj) {
      return Object.values(obj)[0];
    },
    onClick(e) {
      let arg = "";
      if (!this.currentState) {
        this.currentState = 1
        arg = Object.keys(this.right)[0];
      } else {
        this.currentState = 0
        arg = Object.keys(this.left)[0];
      }
      this.$emit('click', arg)
    }
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.toogle
  display: flex
  align-items: center
  cursor: pointer
  font-family: Montserrat Alternates  
  &.is-mobile 
    align-self: auto
    margin: 0 5px
    font-weight: 400
    font-size: 13px
    width: 270px
    &>div:not(.toogle__controll)
      width: 50px
    & .toogle__controll
      margin: 15px auto
      width: 100px
  &__controll
    margin: 0 4px
    display: flex
    position: relative
    width: 100px
    height: 12px
    &:not(.active) .toogle__box
      left: 79px
  &__box
    transition: left 0.3s
    background-color: $color-high
    position: absolute
    left: 10px
    top: 0px
    height: 12px
    width: 12px
  &__line
    position: absolute
    top: 5px
    background-color: $color-mid
    width: 100px
    height: 2px

</style>
