<template>
  <div class="sub-section">
    <div class="title">{{ locale.articles.title }}</div>
    <div class="articles__details">
      <VueSlickCarousel
        v-bind="{ slidesToShow: 3 }"
        :arrows="true"
        :dots="true"
      > 
        <PhotoFrame :key="article.title" v-for="article in articles" :more="article.title" :type="'blog'">
          
        </PhotoFrame>
      </VueSlickCarousel>
    </div>
  </div>
</template>

<style lang="sass" scoped>
@import '@/assets/style/global.sass'
.articles
  font-family: Montserrat Alternates 
</style>

<script>

import { mapGetters } from "vuex";
import VueSlickCarousel from "vue-slick-carousel";
import PhotoFrame from '../PhotoFrame.vue';

export default {
  name: "Articles",
  data() {
    return {
      articles: [
        { title: "Карбоновый пилинг", photo: "" },
        { title: "Лазерное омоложение", photo: "" },
        { title: "Подготовка к лазерной эпиляции", photo: "" }
      ]
    }
  },
  methods: {
    goToCatalogue: function () {},
  },
  components: {
    VueSlickCarousel,
    PhotoFrame
  },
  created() {

  },
  computed: {
    ...mapGetters({ locale: "locales/getLocale" }),
  }
};
</script>

