<template>
  <div class="sub-section">
    <div  class="contacts__section">
      <div class="contacts__photo">
        <img src="@/assets/studio.png" alt="">
      </div>
      <div class="contacts__form">
        <div class="contacts__form-title">{{locale.contacts.fillForm}}</div>
        <input v-model="name" :placeholder="locale.contacts.inputName" class="default-input" />
        <VuePhoneNumberInput
         class="contacts__form-phone"
         :only-countries="['UA','RU']"
         default-country-code="UA" 
         :translations="locale.contacts.phoneInput"
         v-model="phone" />
        <Button @click="send" :text="locale.contacts.send" modifier="unshort"/>
      </div>
    </div>
    <div  class="contacts__section">
      <div class="contacts__info">
        <LangSelector @change="changeLang" class="contacts__lang-selector" />
        <div><a :href="`tel:${contacts.tel}`">{{contacts.tel}}</a></div>
        <div><a :href="`mailto:${contacts.mail}`">{{contacts.mail}}</a></div>
        <div class="contacts__insta"><a :href="`http://www.instagram.com/${contacts.instagram}`"><img src="@/assets/icons/instagram.png" alt="">{{contacts.instagram}}</a></div>
        <div>{{contacts.times}}</div>
        <div>{{contacts.adress}}</div>
        <div class="contacts__copyright">{{contacts.copyright}}</div>
      </div>
      <div class="contacts__map">
      
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped >
@import '@/assets/style/global.sass'

.contacts
  font-family: Montserrat Alternates
  &__lang-selector
    position: absolute
    top: 56px
    right: 64px
  a 
    text-decoration: none
    color: #444443
    &:hover
      text-decoration: underline
    &:active 
      color: inherit
  &__copyright
    margin-top: auto
  &__insta 
    & img
      margin-right: 12px
    & a
      display: flex
      align-items: center
  &__info
    position: relative
    display: flex
    flex-direction: column
    &>div
      margin-bottom: 15px
    padding: 56px 24px
  &__photo img
    height: 100%
  & .default-input, &__form-phone
    margin-bottom: 20px
  width: 1996px
  height: 700px
  &__map
    background-color: white !important
  &__form-title
    width: 150px
    margin-bottom: 20px
    align-self: center
  &__form 
    text-align: center
    padding: 33px 99px
    display: flex
    flex-direction: column
  &__section
    display: flex
  &__section>div
    width: 498px
    height: 350px
    background-color: $color-mid
  

</style>
<script>

import { mapGetters, mapMutations } from 'vuex';
import Button from '@/components/Button.vue';
import VuePhoneNumberInput from 'vue-phone-number-input';
import LangSelector from '@/components/LangSelector.vue';

export default {
  data() {
    return {
      phone: "",
      name: ""
    }
  },
  name: 'Contacts',
  methods: {
    changeLang(lang) {
      this.setLang(lang)
    },
    ...mapMutations({setLang: 'locales/setLang'}),
    send: function() {

    }
  },
  components: {
    Button,
    VuePhoneNumberInput,
    LangSelector
  },
  computed: {
    contacts() {
      return this.locale.contacts.contact[this.site];
    },
    ...mapGetters({locale: 'locales/getLocale', site: "sites/getSite", phoneInput: 'locales/getPhoneInput'})
  },
}
</script>

