<template>
  <div class="sub-section">
    <div class="discount__details">
      <div>
        <VueSlickCarousel v-bind="{slidesToShow: 2}" :arrows="true" :dots="true">
          <div>
            <div class="discount__wrap">
            <div class="discount__item">
              
            </div>
          </div>
          </div>
          <div>
            <div class="discount__wrap">
            <div class="discount__item">
            </div>
          </div>
          </div>
          <div>
            <div class="discount__wrap">
            <div class="discount__item">
            </div>
          </div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
@import '@/assets/style/global.sass'

.slick-dots
  & button
    background: navajowhite

.discount
  &__wrap
    margin: 15px 8px
    width: 470px
    height: 462px
    border: 1px solid $color-mid
  &__item
    background-color: $color-mid
    margin: 15px
    width: 440px
    height: 432px

</style>

<script>

import { mapGetters } from 'vuex';
import Button from '@/components/Button.vue';
import VueSlickCarousel from 'vue-slick-carousel';

export default {
  name: 'Discount',
  methods: {
    goToCatalogue: function() {

    }
  },
  components: {
    Button,
    VueSlickCarousel
  },
  computed: {
    ...mapGetters({ locale: 'locales/getLocale' })
  }
}

</script>

