<template>
  <div class="sub-section">
    <div class="title">{{ locale.helpers.equipmenttitle }}</div>
    <div class="equipment__details">
      <VueSlickCarousel
        v-bind="{ slidesToShow: 1 }"
        :arrows="true"
        :dots="true"
      >
        <div
          class="discount__wrap"
          :key="key"
          v-for="(equip, key) in locale.equipment"
        >
          <div class="discount__item">
            <div class="discount__left">
              <img
                :src="require(`@/assets/equipment/${key}.png`)"
                :alt="equip.name"
              />
            </div>
            <div class="discount__right">
              <h1>{{ equip.name }}</h1>
              <ul>
                <li :key="k" v-for="(benefit, k) in equip.benefits">
                  <Check :text="benefit.title" />
                  <div class="equipment__benefit">{{ benefit.discription }}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
  </div>
</template>

<style lang="sass" scoped >
@import '@/assets/style/global.sass'

.title 
  font-family: Marck Script
.equipment
  font-family: Montserrat Alternates  
  &__benefit
    margin-left: 10px
    font-family: Montserrat Alternates
    font-style: normal
    font-weight: normal
    font-size: 13px
    @include screen-min
      display: none
  &__details
    background: #FFFFFF
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)

.discount
  &__left
    align-self: center
    justify-self: center
  &__right
    margin: 15px
    @include screen-min
      margin-top: -75px
    & h1
      margin-top: 15px
      margin-bottom: 15px
      font-family: Montserrat Alternates
      font-style: normal
      font-weight: bold
      font-size: 15px
  &__item
    @include screen-min
      flex-direction: column
      height: inherit
      width: 300px
      margin: 0
      padding: 10px
      & img 
        width: 300px
    display: flex
    margin: 15px
    width: 970px
    height: 462px
    & ul li
      height: 44px
      margin: 15px 0
      display: flex
      @include screen-min
        margin: 5px 0
        height: 20px
        font-size: 13px
</style>
<script>
import { mapGetters } from "vuex";
import VueSlickCarousel from "vue-slick-carousel";
import Check from "@/components/Check.vue";

export default {
  name: "Equipment",
  methods: {
    goToCatalogue: function () {},
  },
  components: {
    Check,
    VueSlickCarousel,
  },
  created() {
  
  },
  computed: {
    ...mapGetters({ locale: "locales/getLocale" }),
  },
};
</script>

