<template>
<div class="sub-section">
    <div class="title">{{locale.feed.title}}</div>
    <Toogle
      class="services__sex-toogle"
          @click="toogleState"
          :initial="queryParams.feed || 'feed'"
          :left="{ feed: locale.feed.left }"
          :right="{ results: locale.feed.right }"
    ></Toogle>
    <div
        v-if=" queryParams.feed === 'feed' "
      >
      <VueSlickCarousel
        :key="carouselKey"
        ref="slickone"
        v-bind="{ slidesToShow: 3 }"
        :arrows="true"
        :dots="true"
      >
        <div
          class="feed__wrap"
          :key="key"
          v-for="(feed, key) in feeds"
        >
          <div class="feed__image"> 
            
          </div>
          <div  class="feed__name" >{{feed.fullname}}</div>
          <div  class="feed__comment" >{{feed.comment}}</div>
        </div>
      </VueSlickCarousel>
      </div>
      <div
        v-if=" queryParams.feed === 'results' "
      >
        <VueSlickCarousel
          v-bind="{ slidesToShow: 3 }"
          :arrows="true"
          :dots="true"
        >
          <div
            class="result__wrap"
            :key="key"
            v-for="(result, key) in results"
          >
            <div class="result__name" >{{ result.title }}</div>
            <div class="result__image" ></div>
          </div>
        </VueSlickCarousel>
      </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";

import VueSlickCarousel from "vue-slick-carousel";
import Toogle from "@/components/Toogle.vue";

export default {
  name: 'Feed',
  data() {
    return {
      feeds: [
        { photo: "", fullname: "Елена Денисова", comment: "Впервые попробовала в Салоне карбоновый пилинг и удаление пигментного пятна. Результат после пилинга потрясающий!) лицо стало светлее, выровнялся цвет и даже стало казаться моложе) результат после первого сеанса удаления пигментного пятна - пятно стало заметно светлее. Теперь я Ваш постоянный клиент, теперь хочется всего и побольше) Спасибо Вам и Удачи!" },
        { photo: "", fullname: "Елена Бойчук", comment: "Делала карбоновый пилинг в салоне - очень довольна результатом! Кожа стала ровненькой, гладенькой, теперь не боюсь на люди показаться без тоналки. Спасибо Маше за отличную работу и золотые руки!" },
        { photo: "", fullname: "Olechka Alexis", comment: "Доброго дня! Відчуття після карбонового пілінгу дуууже чудові! Шкіра світліша, виглядає молодшою, пори звузилися. Я повністю задоволена. Дякую Вам)" },
        { photo: "", fullname: "Olechka Alexis", comment: "Доброго дня! Відчуття після карбонового пілінгу дуууже чудові! Шкіра світліша, виглядає молодшою, пори звузилися. Я повністю задоволена. Дякую Вам)" }
      ],
      results: [
        { photo: "", title: "Olechka Alexis" },
        { photo: "", title: "Olechka Alexis" },
        { photo: "", title: "Olechka Alexis" },
        { photo: "", title: "Olechka Alexis" }
      ],
      queryParams: {},
      carouselKey: 0,
    }
  },
  watch: {
    $route(to, from) {
      this.queryParams = to.query;
    },
    ['queryParams.feed']() {
      this.carouselKey += 1
    }
  },
  created() {
    this.queryParams = this.$route.query;
    if (!this.queryParams.feed) this.queryParams.feed = "feed";
  },
  methods: {
    toogleState(state) {
      this.$router.push({ query: { ...this.$route.query, feed: state } });
    }
  },
  components: {
    VueSlickCarousel,
    Toogle
  },
  computed: {
    ...mapGetters({ locale: "locales/getLocale"})
  }
}
</script>

<style scoped lang="sass">
@import '@/assets/style/global.sass'

.title 
  font-family: Marck Script

.services__sex-toogle
  margin-bottom: 50px
.result 
  &__wrap
    font-family: Montserrat Alternates
    display: flex !important
    flex-direction: column
    align-items: center
    text-align: center
  &__image
    width: 292px
    height: 295px
    padding: 15px
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)

.feed
  &__name
    font-weight: 600
    margin: 5px 0
  &__wrap
    font-family: Montserrat Alternates
    display: flex !important
    flex-direction: column
    align-items: center
    text-align: center
  &__image
    background: #FFFFFF
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)
    width: 100px
    height: 100px
    padding: 5px

</style>
