<template>
  <div class="sub-section">
    <div class="promo__details" :class="{ ['is-mobile']: isMobile }">
      <div>
        <img v-if="!isMobile" class="promo__logo" src="@/assets/logo.png" alt="">
        <div class="promo__title">
          {{locale.promo.title}}
        </div>
        <div class="promo__discription">
          {{locale.promo.discription}}
        </div>
        <Button class="promo__button" modifier="normal" :text="locale.promo.lookAtCatlogue" @click="goToCatalogue" />
      </div>
      <div class="promo__image">
        <img class="promo__main-image" src="@/assets/promo.png" alt="">
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped >
@import '@/assets/style/global.sass'
.promo
  &__image
    padding: 20px
  &__details
    display: flex
    margin-left: 19px
    margin-top: 50px
    &.is-mobile
      margin-left: 0
      flex-direction: column
      margin-top: 20px
      & .promo
        &__discription
          margin: 10px 0
        &__title
          font-size: 34px
          margin: 10px 0  
        &__image
          padding: 0
          margin-top: 20px
        &__main-image
          width: 290px
          margin: 0 auto
          display: block
      &>div>div
        width: 100%
  &__logo
    margin-top: 13px
    margin-bottom: 8px
    width: 145px
    height: 119px
  &__title
    font-family: Marck Script
    font-style: normal
    font-weight: normal
    font-size: 44px
    width: 375px
  &__discription
    font-family: Montserrat Alternates
    font-style: normal
    font-weight: normal
    font-size: 15px
    margin: 30px 0
    width: 343px

</style>
<script>

import { mapGetters } from 'vuex'
import Button from '@/components/Button.vue';

export default {
  name: 'Promo',
  methods: {
    goToCatalogue: function() {

    }
  },
  components: {
    Button
  },
  computed: {
    ...mapGetters({locale: 'locales/getLocale',isMobile: 'document/isMobile'}),
  },
}
</script>

