<template>
  <div class="sub-section" :class="{ ['is-mobile']: isMobile }">
    <div class="title">{{ locale.services.title }}</div>
    <div class="services__controlls">
        <Tabs
          class="services__main-tab"
          @click="changeTab"
          :initial="queryParams.tab || 'lazer'"
          :tabs="locale.services.tabs"
        />
        <Toogle
          v-if="queryParams.tab !== 'tatoodelete' && queryParams.tab !== 'cosmetology'"
          :style="{'visibility': queryParams.zone !== 'packadge' ? 'inherit' : 'hidden' }"
          class="services__sex-toogle"
          @click="toogleSex"
          :initial="queryParams.sex || 'woman'"
          :left="{ woman: locale.services.sexs.woman }"
          :right="{ man: locale.services.sexs.man }"
        />
        <Toogle
          v-if="queryParams.tab !== 'tatoodelete' && queryParams.tab !== 'cosmetology'" 
          class="services__zone-toogle"
          :initial="queryParams.zone || 'zone'"
          @click="onToogleZone"
          :left="{ zone: locale.services.additional.zone }"
          :right="{ packadge: locale.services.additional.packadge }"
        />
      </div>
    <div v-if="queryParams.tab === 'cosmetology'">
      <Options
        @change="cosmetologyChange"
        :options="{
          'lazerHeals': locale.helpers.lazerHeals,
          'deleteMarks': locale.helpers.deleteMarks,
          'carbonPilling': locale.helpers.carbonPilling
        }"
        :current="queryParams.cosmetology || 'carbonPilling'"
      ></Options>
      <Cosmetology></Cosmetology>
    </div>
    <div v-if="queryParams.tab === 'tatoodelete'">
      <Toogle
        class="services__sex-toogle"
        @click="toogleTatooState"
        :initial="queryParams.tatooState || 'tatoo'"
        :left="{ tatoo: locale.tatoo.tableft }"
        :right="{ permanent: locale.tatoo.tabright }"
      />
      <TatooDelete></TatooDelete>
    </div>
    <div  class="services-details"  v-if="queryParams.tab === 'lazer'">
      <div>
        <Packages v-if="queryParams.zone === 'packadge' " />
        <div v-if="queryParams.zone === 'zone'">
          <div class="services-details__left">
            <PhotoFrame>
              <div>
                <BodyParts
                  v-if="queryParams.sex === 'woman'"
                  :initial="queryParams.part"
                  @click="onPartClick"
                  :map="[
                    { name: 'face', x: 38, y: 5.5 },
                    { name: 'armpit', x: 21.5, y: 26 },
                    { name: 'breast', x: 31.5, y: 33 },
                    { name: 'forearm', x: 66.2, y: 13.5 },
                    { name: 'groin', x: 29, y: 73.5 },
                    { name: 'stomach', x: 27, y: 51.5 },
                    { name: 'wrist', x: 62, y: 7.9 },
                  ]"
                  :corePath="'body-parts/woman'"
                />
                <BodyParts
                  v-if="queryParams.sex === 'man'"
                  :initial="queryParams.part"
                  @click="onPartClick"
                  :map="[
                    { name: 'face', x: 38, y: 5.5 },
                    { name: 'armpit', x: 21.5, y: 26 },
                    { name: 'breast', x: 31.5, y: 33 },
                    { name: 'forearm', x: 66.2, y: 13.5 },
                    { name: 'groin', x: 29, y: 73.5 },
                    { name: 'stomach', x: 27, y: 51.5 },
                    { name: 'wrist', x: 62, y: 7.9 },
                  ]"
                  :corePath="'body-parts/man'"
                />
              </div>
            </PhotoFrame>
          </div>
        </div>
      </div>
      <div   v-if="queryParams.zone === 'zone'" class="services-details__right services-more">
        <div :class="{['no-display']: isMobile}" class="services-more__header">{{ currentPartInfo.title }}</div>
        <table>
          <tr>
            <td>{{ locale.helpers.zone }}:</td>
            <td>{{ currentPartInfo.zone }}</td>
          </tr>
          <tr>
            <td>{{ locale.helpers.price }}:</td>
            <td>{{ currentItem.price }} {{ locale.helpers.UAH }}</td>
          </tr>
          <tr>
            <td>{{ locale.helpers.time }}:</td>
            <td>{{ currentItem.time }}</td>
          </tr>
        </table>
        <Button
          class="promo__button services-more__button"
          modifier="small"
          :text="locale.helpers.signcall"
          @click="signCall"
        />
        <div :class="{['no-display']: isMobile}"  class="services-more__discription">
          {{ currentPartInfo.disctiption }}
        </div>
        <div :class="{['no-display']: isMobile}"  class="services-more__checks">
          <div>
            <Check :text="locale.helpers.fast" />
            <Check :text="locale.helpers.comfort" />
          </div>
          <div>
            <Check :text="locale.helpers.nopain" />
            <Check :text="locale.helpers.avalibel" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
@import '@/assets/style/global.sass'

.services-more
  margin-left: 30px
  max-width: 460px
  & table tr td:first-child
    font-weight: bold
    width: 60px
  & table
    @include screen-min
      margin: 0 auto
      text-align: left
  &__button
    margin-top: 12px
  &__header
    margin: 15px 0
  &__discription
    margin: 26px 0
  &__checks
    display: flex
    &>div
      margin: 0 30px
      &>div
        margin-bottom: 30px

  .no-display
    display: none
.services-details
  display: flex
  @include screen-min
    flex-direction: column
  &__left
    
  &__right
    @include screen-min
      margin-top: -80px
.services__title
  font-family: Marck Script
  color: $color-text
  display: flex
  margin-top: 15px
  margin-left: 15px
  font-size: 36px
.services
  font-family: Montserrat Alternates  
  color: $color-text
  &__controlls
    display: flex
    flex-direction: column
  &__main-tab
    justify-self: left
  &__sex-toogle
    margin: 10px 80px
  &__zone-toogle
    margin: 10px 0 15px 0
    align-self: center

</style>

<script>
import { mapGetters } from "vuex";
import Button from "@/components/Button.vue";
import Toogle from "@/components/Toogle.vue";
import Tabs from "@/components/Tabs.vue";
import BodyParts from "@/components/BodyParts.vue";
import Packages from "@/components/Packages.vue";
import Check from "@/components/Check.vue";
import Options from "@/components/Options.vue";
import PhotoFrame from "@/components/PhotoFrame.vue";
import TatooDelete from "@/components/TatooDelete.vue";
import Cosmetology from "@/components/Cosmetology.vue";

export default {
  name: "Services",
  data() {
    return {
      queryParams: {},
    };
  },
  watch: {
    $route(to, from) {
      this.queryParams = to.query;
    },
  },
  created() {
    this.queryParams = this.$route.query;
    if (!this.queryParams.part) this.queryParams.part = "face";
    if (!this.queryParams.tab) this.queryParams.tab = "lazer";
    if (!this.queryParams.sex) this.queryParams.sex = "woman";
    if (!this.queryParams.zone) this.queryParams.zone = "zone";
    if (!this.queryParams.cosmetology) this.queryParams.cosmetology = "carbonPilling";
  },
  methods: {
    signCall() {},
    onPartClick(part) {
      this.$router.push({ query: { ...this.$route.query, part: part } });
    },
    cosmetologyChange(type) {
      this.$router.push({ query: { ...this.$route.query, cosmetology: type } });
    },
    changeTab(name) {
      this.$router.push({ query: { ...this.$route.query, tab: name } });
    },
    toogleTatooState(tatooState) {
      this.$router.push({ query: { ...this.$route.query, tatooState: tatooState } });
    },
    toogleSex(sex) {
      this.$router.push({ query: { ...this.$route.query, sex: sex } });
    },
    onToogleZone(zone) {
      this.$router.push({ query: { ...this.$route.query, zone: zone } });
    }
  },
  components: {
    Button,
    Toogle,
    Tabs,
    Toogle,
    BodyParts,
    Packages,
    Check,
    PhotoFrame,
    TatooDelete,
    Cosmetology,
    Options
  },
  computed: {
    currentItem() {
      const empty = !this.queryParams.sex || !this.queryParams.part;
      return !empty
        ? this.prices[this.queryParams.sex][this.queryParams.part]
        : {};
    },
    currentPartInfo() {
      return this.locale.services.parts[this.queryParams.part];
    },
    ...mapGetters({ locale: "locales/getLocale", prices: "prices/getPrices", isMobile: 'document/isMobile' }),
  }
};
</script>

