<template>
  <div id="app" class="wrap" :style="{backgroundImage: `url(${require('@/assets/bg.svg')})`}">
    <Header />
    <div class="app">
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import { mapMutations, mapState } from 'vuex'

export default {
  created() {
    this.applyActiveView(this.$route)
  },
  watch: {  
    $route (to, from){
      this.applyActiveView(to)
    }
  },
  mounted() {
    window.addEventListener('resize', this.getDimensions);
    this.setDimensions(this.getDimensionsComponentFunction())
  },
  unmounted() {
    window.removeEventListener('resize', this.getDimensions);
  },
  methods: {
    ...mapMutations("router", { setActiveView: "setActive" } ),
    ...mapMutations("document", { setDimensions: "setDimensions" } ),
    applyActiveView (route) {
      const section = route.query.section || "home";
      const path = route.path.substring(1) || "/";
      this.setActiveView(path+(section?":"+section:""))
    },
    getDimensionsComponentFunction() {
      let width = document.documentElement.clientWidth;
      let height = document.documentElement.clientHeight;
      return {width,height}
    },
    getDimensions() {
      this.setDimensions(this.getDimensionsComponentFunction());
    }
  },
  computed: {
    ...mapState("router",["navbar"])
  },
  components: {
    Header
  }
}
</script>

<style lang="sass">
@import '@/assets/style/global.sass'

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat+Alternates&display=swap')


.wrap
  background-position-y: center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover

.app
  padding-top: 80px
  padding-left: 15px
  padding-right: 15px
  width: 1054px
  @include screen-min
    max-width: 320px
    width: 320px
    margin: 0 auto 
  max-width: 1024px
  margin: 0 auto
  z-index: 1

* 
  margin: 0
  padding: 0
  box-sizing: border-box

.h1
  font-family: Marck Script
  font-style: normal
  font-weight: normal
  font-size: 44px
  line-height: 120%
  
.h2
  font-family: Marck Script
  font-style: normal
  font-weight: normal
  font-size: 36px
  line-height: 150%

.h3
  font-family: Montserrat Alternates
  font-style: normal
  font-weight: 800
  font-size: 15px
  line-height: 18px

.h4
  font-family: Montserrat Alternates
  font-style: normal
  font-weight: bold
  font-size: 15px
  line-height: 18px

.h5
  font-family: Montserrat Alternates
  font-style: normal
  font-weight: bold
  font-size: 13px
  line-height: 16px

.h6
  font-family: Montserrat Alternates
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 150%


</style>
